    table,th,td,tr {
        border: 1px solid black;
    }

    .title {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: #353643;

    }

    .header { 
        display: flex;
        flex-direction: row; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: space-around;
        color: #353643;
        background-color: salmon;
        border: 1px solid black;
    }

    .hero-image{
        display: flex;
        justify-content: center;
        padding: 25px;
    }

    .chinook{
        height: 50px;
        width: 150px;
        background-color: salmon;
        
    }

    .item-description{
        display: flex;
        justify-content: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    body{
        background-image: linear-gradient(#ADB7EB,salmon);
    }

    .merch-description{
       display: flex;
       flex-direction: column;
       text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .merch-pictures{
        display: flex;
        justify-content: space-around;
    }

    a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;   
    }