    table,th,td,tr {
        border: 1px solid black;
    }

    .title {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: #353643;

    }

    .header { 
        display: flex;
        flex-direction: row; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: space-around;
        color: #353643;
        background-color: salmon;
        border: 1px solid black;
    }